$primary_color: #FFD403;
$section_height: calc(100vh - (55px + 67px));
$background_color: #f9f9f9;

.primary-btn {
  background-color: #FFD403;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  padding: 10px 25px;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 191, 0, 0.32);
  }
}


.biller-loader {
  display: flex;
  justify-content: center;

  .ldio-tvah1xcfcgr div {
    left: 52.17px;
    top: 26.64px;
    position: absolute;
    animation: ldio-tvah1xcfcgr linear 1s infinite;
    background: #000000;
    width: 6.66px;
    height: 13.32px;
    border-radius: 3.33px / 6.66px;
    transform-origin: 3.33px 28.860000000000003px;
  }.ldio-tvah1xcfcgr div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #000000;
   }.ldio-tvah1xcfcgr div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #000000;
    }.ldio-tvah1xcfcgr div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #000000;
     }.ldio-tvah1xcfcgr div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #000000;
      }.ldio-tvah1xcfcgr div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #000000;
       }.ldio-tvah1xcfcgr div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #000000;
        }.ldio-tvah1xcfcgr div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #000000;
         }.ldio-tvah1xcfcgr div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #000000;
          }.ldio-tvah1xcfcgr div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #000000;
           }.ldio-tvah1xcfcgr div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #000000;
            }.ldio-tvah1xcfcgr div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #000000;
             }.ldio-tvah1xcfcgr div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #000000;
              }
  .loadingio-spinner-spinner-fixpndfd9b4 {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    //background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-tvah1xcfcgr {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-tvah1xcfcgr div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
}

@keyframes ldio-tvah1xcfcgr {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
/************************************** MIXINS *********************************************************/

@mixin client-area-form-control () {
  border-left: 1px solid #dddddd;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #000000;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}


@mixin generic-big-search-form($width, $input_line: (height: 35px, left: 45px, top: 15px)) {
  div.input-group {
    height: 60px;
    position: inherit;
    width: $width;

    .input-group-text {
      background-color: #ffffff;
      border: 1px solid #dddddd;
    }

    .form-input {
      flex: auto;
      border: 1px solid #dddddd;
      border-left: none;
      padding: 0 10px 0 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 18px;
      line-height: 20px;
      &:focus {
        outline: none;
        border-left: none;
      }
    }

    .input-line {
      position: absolute;
      height: map_get($input_line, height);
      background-color: #ffd403;
      width: 2px;
      left: map_get($input_line, left);
      top: map_get($input_line, top);
    }
  }
}

@mixin generic-biller-list($border: false) {
  .biller-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 110px;

    figure.biller-box {
      background: #FFFFFF;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      display: flex;
      transition: transform .2s ease-in-out .2ms;

      @if($border) {
        border: 1px solid #dddddd;
      }

      .biller-logo {
        width: 80px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .biller-contents {
        display: flex;
        flex-direction: column;
        width: calc(100% - 80px);
        padding: 12px;

        .biller-title {
          font-size: 15px;
          font-weight: 600;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden
        }
        .biller-desc {
          font-size: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden
        }
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

/********* MIXINS END *****************************/

/********************************** SPECIAL   LIB  CLASSES ***********************************************/
#toast-container {
  position: absolute;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  //width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  color: #FFFFFF;
  opacity: 1;
  font-size: 14px;
  .toast-success {
    background-color: #34bfa3;
  }

  .toast-error {
    background-color: #f4516c;
  }
}


/**************** telphone input lib****************/
.tel-inp {
  &.error {
    border: 1px solid #f4516c;
  }
  .intl-tel-input {
    height: 50px;
    display: block;
    &.separate-dial-code {
      .selected-flag {
        background-color: transparent;
        border-right: 1px solid #E0E3E5;
      }

    }

    .tel-custom {
      height: 100%;
      font-size: 15px;
      line-height: 20px;
      &:focus {
        box-shadow: none;
        border-color: #E0E3E5;
      }
    }
  }
}

/***************************** provider global loader ********************************/
.provider-spinner {
  display: flex;
  justify-content: center;
  //height: 150px;
  width: 100%;
  position: relative;

  .spinner-box {
    display: flex;
    align-self: center;
    width: auto;
    height: 100%;

    .spinner {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 5px solid darkgrey;
      margin: -10px 0 0 10px;
      border-top-color: #ffd403;
      border-right-color: #ffb822;
      animation: spinner 0.7s linear infinite;
    }
  }
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/************************** style for  ng-select ****************/
.ng-select.ng-select-single {
  .ng-select-container {
    height: 50px;
    border: none;
    font-size: 14px;
    border-color: transparent !important;
  }
}
