<router-outlet></router-outlet>


<section class="success-page">

  <div class="success-container">
    <div class="desc text-center">
      <img src="assets/images/success.png" alt="">
      <h2>Congratulations!!!</h2>
      <div
        *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'airtime' || transCompleteFull?.biller?.billerCategory.toLowerCase() === 'electricity'">
        <p>Your {{transCompleteFull?.biller?.billerName}} recharge of <b>₦{{transCompleteFull?.amount}}
          on {{transCompleteFull?.recipientAccount}}</b> was Successful.</p>
      </div>
      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'databundle'">
        <p>Your {{transCompleteFull?.biller?.billerCategory}} purchase of <b>₦{{transCompleteFull?.amount}}</b> was
          Successful.</p>
      </div>
      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'cabletv'">
        <p>Your {{transCompleteFull?.biller?.billerName}} Subscription of <b>₦{{transCompleteFull?.amount}}</b> was
          Successful.</p>
      </div>
      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'epin'">
        <p>Your {{transCompleteFull?.biller?.billerName}} recharge of <b>₦{{transCompleteFull?.amount}} </b> was
          Successful.</p>
      </div>
      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'epin'">
        <p><b>Instructions: </b><small>{{ payload?.pins[0]?.instructions}}</small></p>
        <p><b>Pin: </b><small>{{ payload?.pins[0]?.pin}}</small></p>
        <p><b>Serial Number: </b><small>{{ payload?.pins[0]?.serialNumber}}</small></p>
        <p><b>Expiring Date: </b><small>{{ payload?.pins[0]?.expiresOn}}</small></p>

      </div>
      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'electricity' && payload.tokenCode">
        <p><b>Token: </b>{{payload.tokenCode}}</p>
        <p><b>Amount Of Power: </b>{{payload?.amountOfPower}}</p>
        <p><b>Amount: </b>{{payload?.tokenAmount}}</p>
      </div>
<!--      <div *ngIf="transCompleteFull?.biller?.billerCategory.toLowerCase() === 'electricity' && !payload.tokenCode">-->
<!--        <p></p>-->
<!--      </div>-->
      <a [routerLink]="['/transactions']" class="btn success-btn btn-block">View Transaction details</a>
    </div>

  </div>

  <div class="advert-side">
    <div class="advert-description">
      <img src="../../../assets/images/baxi_image.png" style="width: 25rem;">

      <p class="animated fadeInDown text-center heading">
        <b>
          Congratulations on your completed transaction.
          START EARNING!!!</b>
        <b>    Are you aware you can earn commission on EVERY transaction you make??
          AWESOME right all you have to do is download now on
          <br><a href="https://play.google.com/store/apps/details?id=com.capricorn.baximobile.app" target="_blank"> <img src="../../../assets/images/android.png" style="width: 40%"> </a> or
          <a href="https://apps.apple.com/us/app/baxi-mobile/id1500278465" target="_blank"><img src="../../../assets/images/apple.png" style="width: 40%"></a>
        </b>
        <b> To Purchase an Mpos (Mobile Point of Sale) call 017008571.</b>
      </p>


    </div>

  </div>

</section>
