.form-wrapper {
  .header {
    .title {
      padding: 0 20px 5px 20px;
      display: flex;
      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
        border-radius: 5px;
      }
      h4 {
        margin-bottom: 0;
        letter-spacing: 0.25px;
        color: #000000;
        align-self: center;
        flex: 1;
        padding: 0 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.payment-form-wrapper {
  .goBack{
    margin-bottom: 20px;
    a {
      color: #000000;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .title-wrapper {
    .title {
      flex: 1;
      padding: 0 20px;
      h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .form-control {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #000000;
    height: 40px;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #dddddd;
    }
  }
}

.ng-select {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
